<%- include('partials/navbar') %>
<%- include('partials/header') %>

<div class="container backgroundcliente">
    <div class="overlay">
        <h1>Cadastro de Cliente</h1>
        <form id="cadastroCliente" action="/clientes" method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cpf" class="form-label">CPF:</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="endereco" class="form-label">Endereço:</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%= cliente.nome %></td>
                    <td><%= cliente.cpf %></td>
                    <td><%= cliente.endereco %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer') %>
