<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container">
    <h1><%= produto.nome %></h1>
    <img src="/imgs/produto/<%= produto.imagem %>.jpeg" alt="<%= produto.nome %>" class="img-fluid">
    <p>Preço: R$ <%= produto.preco.toFixed(2).replace('.', ',') %></p>
    <p>Categoria: <%= produto.categoria %></p>
</div>

<%- include('partials/footer.ejs') %>
