<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container background-produtos">
    <div class="overlay">
        <h1>Conheça nossos produtos:</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Produto</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <% produtos.forEach(produto => { %>
                <tr>
                    <td><a href="/produtos/<%= produto.nome %>"><%= produto.nome %></a></td>
                    <td>R$ <%= produto.preco.toFixed(2).replace('.', ',') %></td>
                    <td><%= produto.categoria %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer.ejs') %>
